@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE & old Edge */
body {
  -ms-overflow-style: none;
}
